/* Custom Theme: Cohesity */
:root {

    --content-max-width                  : 55em;
    --link-color                         : var(--theme-color);
    --strong-color                       : var(--theme-color);
    --base-font-size                     : 17px;
    --code-font-size                     : 16px;

    /* Borders */
    --border-radius-s                    : 4px;
    --border-radius-m                    : 4px;
    --border-radius-l                    : 8px;

    /* Strong */
    --strong-font-weight                 : 500;
    --strong-font-size                   : smaller;

    /* Blockquote */
    --blockquote-border-color            : var(--theme-color);
    --blockquote-border-radius           : 0 var(--border-radius-m) var(--border-radius-m) 0;
    --blockquote-border-width            : 0 0 0 4px;

    /* Code */
    --code-inline-background             : var(--mono-tint3);
    --code-theme-background              : var(--mono-tint3);
    --code-theme-background              : #f3f3f3;
    --code-theme-comment                 : #6e8090;
    --code-theme-function                : #6d831b;
    --code-theme-keyword                 : #07a;
    --code-theme-operator                : #a67f59;
    --code-theme-punctuation             : #999;
    --code-theme-selection               : #b3d4fc;
    --code-theme-selector                : #690;
    --code-theme-tag                     : rgb(122, 155, 23);
    --code-theme-text                    : #333;
    --code-theme-variable                : #e90;

    /* Headings */
    --heading-font-weight                : var(--strong-font-weight);
    --heading-h1-font-weight             : 300;
    --heading-h2-font-weight             : 300;
    --heading-h2-font-size               : 22px;
    --heading-h2-border-color            : var(--mono-tint2);
    --heading-h2-border-width            : 0 0 1px 0;
    --heading-h2-margin                  : 2.5rem 0 1.5rem;
    --heading-h2-padding                 : 0 0 1rem 0;

    /* Keyboard */
    --kbd-border                         : 1px solid var(--mono-tint2);

    /* Notice */
    --notice-border-radius               : 0 var(--border-radius-m) var(--border-radius-m) 0;
    --notice-border-width                : 0 0 0 4px;
    --notice-padding                     : 1em 1.5em 1em 3em;

    /* Notice Pseudo */
    --notice-before-border-radius        : 100%;
    --notice-before-font-weight          : bold;
    --notice-before-height               : 1.5em;
    --notice-before-left                 : 0.75em;
    --notice-before-line-height          : 1.5;
    --notice-before-margin               : 0 0.25em 0 0;
    --notice-before-position             : absolute;
    --notice-before-width                : var(--notice-before-height);

    /* Notice - Important */
    --notice-important-background        : hsl(340, 60%, 96%);
    --notice-important-border-color      : hsl(340, 90%, 45%);

    /* Notice - Important Pseudo */
    --notice-important-before-background : var(--notice-important-border-color) #{svg-data-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#fff"><path d="M10 14C10 15.1 9.1 16 8 16 6.9 16 6 15.1 6 14 6 12.9 6.9 12 8 12 9.1 12 10 12.9 10 14Z"/><path d="M10 1.6C10 1.2 9.8 0.9 9.6 0.7 9.2 0.3 8.6 0 8 0 7.4 0 6.8 0.2 6.5 0.6 6.2 0.9 6 1.2 6 1.6 6 1.7 6 1.8 6 1.9L6.8 9.6C6.9 9.9 7 10.1 7.2 10.2 7.4 10.4 7.7 10.5 8 10.5 8.3 10.5 8.6 10.4 8.8 10.3 9 10.1 9.1 9.9 9.2 9.6L10 1.9C10 1.8 10 1.7 10 1.6Z"/></svg>')} center / 0.875em no-repeat;
    --notice-important-before-color      : #fff;
    --notice-important-before-content    : "";

    /* Notice - Tip */
    --notice-tip-background              : hsl(204, 60%, 96%);
    --notice-tip-border-color            : hsl(204, 90%, 45%);

    /* Notice - Tip Psuedo */
    --notice-tip-before-background       : var(--notice-tip-border-color) #{svg-data-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#fff"><path d="M9.1 0C10.2 0 10.7 0.7 10.7 1.6 10.7 2.6 9.8 3.6 8.6 3.6 7.6 3.6 7 3 7 2 7 1.1 7.7 0 9.1 0Z"/><path d="M5.8 16C5 16 4.4 15.5 5 13.2L5.9 9.1C6.1 8.5 6.1 8.2 5.9 8.2 5.7 8.2 4.6 8.6 3.9 9.1L3.5 8.4C5.6 6.6 7.9 5.6 8.9 5.6 9.8 5.6 9.9 6.6 9.5 8.2L8.4 12.5C8.2 13.2 8.3 13.5 8.5 13.5 8.7 13.5 9.6 13.2 10.4 12.5L10.9 13.2C8.9 15.2 6.7 16 5.8 16Z"/></svg>')} center / 0.875em no-repeat;
    --notice-tip-before-color            : #fff;
    --notice-tip-before-content          : "";

    /* Tables */
    --table-cell-border-color            : var(--mono-tint2);
    --table-cell-border-width            : 1px 0;


    /* Cover */
    --cover-background-image             : white;
    --cover-link-color                   : var(--theme-color);


    /* Plugin: Search */
    /* Input */
    --search-input-background-color      : #fff;
    --search-input-background-image      : #{svg-data-uri('<svg height="20px" width="20px" viewBox="0 0 24 24" fill="none" stroke="rgba(0, 0, 0, 0.3)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="7.5" vector-effect="non-scaling-stroke"></circle><line x1="21" y1="21" x2="15.8" y2="15.8" vector-effect="non-scaling-stroke"></line></svg>')};
    --search-input-background-position   : 25px center;
    --search-input-color                 : var(--theme-color);
    --search-input-placeholder-color     : var(--theme-color);
    --search-input-border-color          : var(--theme-color);
    --search-input-border-width          : 1px 0;
    --search-input-margin                : 0 -25px;
    --search-input-padding               : 0.65em 1em 0.65em 50px;
    --search-input-placeholder-color     : rgba(0, 0, 0, 0.4);

    /* Clear Button */
    --search-clear-icon-color1           : rgba(0, 0, 0, 0.3);

    /* Results */
    --search-result-heading-color        : white;
    --search-result-keyword-color        : white;
    --search-result-keyword-background   : #a7b133;
    --search-result-heading-font-weight  : var(--strong-font-weight);
    --search-result-item-border-color    : var(--sidebar-border-color);
    --search-result-keyword-border-radius: var(--border-radius-s);


    /* Sidebar */
    --sidebar-width                                     : 20rem;
    --sidebar-background                                : var(--theme-color);
    --sidebar-border-color                              : #c9d2b6;
    --sidebar-border-width                              : 0 1px 0 0;

    /* Name */
    --sidebar-name-color                                : white;
    --sidebar-name-font-weight                          : 400;
    --sidebar-name-font-size                            : 22px;

    /* Nav Headings */
    --sidebar-nav-strong-color                          :white;
    --sidebar-nav-strong-border-width                   : 0 0 1px 0;
    --sidebar-nav-strong-font-size                      : medium;
    --sidebar-nav-strong-font-weight                    : 500;
    --sidebar-nav-strong-margin                         : 2em -25px 0.75em 0;
    --sidebar-nav-strong-padding                        : 0.25em 0 0.75em 0;
    --sidebar-nav-strong-text-transform                 : uppercase;

    /* Nav Links */
    --sidebar-nav-link-border-color                     : transparent;
    --sidebar-nav-link-border-color--active             : rgb(236, 250, 198);
    --sidebar-nav-link-background-color--active         : var(--sidebar-background);
    --sidebar-nav-link-border-width                     : 0 3px 0 0;
    --sidebar-nav-link-color                            :white;
    --sidebar-nav-link-color--active                    :white;
    --sidebar-nav-link-font-weight                      : 400;
    --sidebar-nav-link-font-weight--active              : 500;
    --sidebar-nav-link-margin                           : 0 -25px 0 0;
    --sidebar-nav-link-padding                          : 0 0;
    --sidebar-nav-link-text-decoration                  : none;
    --sidebar-nav-link-text-decoration--active          : bold;
    --sidebar-nav-link-text-decoration--hover           : underline;

    /* Nav Links - Pseudo Content */
    --sidebar-nav-link-before-content-l3                : '-';

    /* Nav Page Links */
    --sidebar-nav-pagelink-background-image             : #{chevron-data-uri(right, 7px, null, 1.5, #b3b3b3)};
    --sidebar-nav-pagelink-background-image--active     : #{chevron-data-uri(down, null, 7px, 1.5, #0b87da)};
    --sidebar-nav-pagelink-background-image--collapse   : #{chevron-data-uri(right, 7px, null, 1.5, #0b87da)};
    --sidebar-nav-pagelink-background-image--loaded     : #{chevron-data-uri(down, null, 7px, 1.5, #0b87da)};
    --sidebar-nav-pagelink-background-position          : 0px center;
    --sidebar-nav-pagelink-background-position--active  : left center;
    --sidebar-nav-pagelink-background-position--collapse: var(--sidebar-nav-pagelink-background-position);
    --sidebar-nav-pagelink-background-position--loaded  : var(--sidebar-nav-pagelink-background-position--active);
    --sidebar-nav-pagelink-padding                      : 0.25em 0 0.25em 20px;
    --sidebar-nav-pagelink-transition                   : none;

    /* Toggle */
    --sidebar-toggle-background                         : white;
    --sidebar-toggle-border-radius                      : 0 var(--border-radius-s) var(--border-radius-s) 0;
    --sidebar-toggle-width                              : 30px;
    --sidebar-toggle-icon-stroke-width                  : 2px;
    --sidebar-toggle-icon-color                         : var(--theme-color);
}

.guide-links {
    margin-top: 50px;
    border-top: 1px solid #EEE;
    padding-top: 20px;
}

.guide-links .guide-link-next {
    float: right; 
}

.guide-links .guide-link-prev:before {
    padding-right: 0.4em;
    content: '←';
}

.guide-links .guide-link-next:after {
    padding-left: 0.4em;
    content: '→';
}

.guide-links a {
    text-decoration: bold;
}

.guide-links a:hover {
  text-decoration: none;
}

.sidebar .search .matching-post p {
    color: white;
}
